{% extends 'base.html.twig' %}

{% block body %}


    <div class="container mt-4">

        <h1>Editer la bouteille</h1>
        {{ form_start(form) }}
            <div class="row">
               <div class="col-md-4">{{ form_row(form.name) }}</div>
                <div class="col-md-4">{{ form_row(form.degree) }}</div>
                <div class="col-md-4">{{ form_row(form.price) }}</div>
            </div>
            <div class="row">
                <div class="col-md-2">{{ form_row(form.vintage) }}</div>
                <div class="col-md-2">{{ form_row(form.quantity) }}</div>
                <div class="col-md-2">{{ form_row(form.type) }}</div>
                <div class="col-md-2">{{ form_row(form.consumption_date) }}</div>
            </div>
            <div class="row">
                <div class="col-md-5">{{ form_row(form.description) }}</div>
                <div class="col-md-2">{{ form_row(form.designation) }}</div>
                <div class="col-md-1">{{ form_row(form.picture) }}</div>
                <div class="col-md-2">{{ form_row(form.sold) }}</div>
            </div>





            {{ form_widget(form) }}
                <button class="btn btn-primary">Editer</button>

        {{ form_end(form) }}

    </div>

{% endblock %}