
{% extends 'base.html.twig' %}

{% block title ' Gérer les bouteilles' %}



{% block body %}
    <div class="container mt-4">

        <h1>Gerer les bouteilles</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <table class="table table-striped">
            <thread>
                <tr>
                    <th>Title</th>
                    <th>Actions</th>
                </tr>
            </thread>
            <tbody>
                {% for bottle in bottles  %}
                <tr>
                    <td>{{ bottle.name }}</td>
                    <td>
                        <a href="{{ path('admin.property.edit', { id : bottle.id }) }}" class="btn btn-secondary">Editer</a>
                        <form method="post" action="{{ path('admin.property.delete', {id : bottle.id}) }}"
                              style="display: inline-block" onsubmit="return confirm(' Voulez vous vraiment la supprimer ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bottle.id) }}">
                            <button class="btn btn-danger" >Supprimer</button>
                        </form>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="text-right">
            <a href="{{ path('admin.property.new') }}  " class="btn btn-primary">Créer une nouvelle bouteille</a>
        </div>
    </div>

{% endblock %}







